@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "colors";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan", sans-serif;
}

.hero {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.hero_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 500ms ease-in-out;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.navbar {
    padding-block-start: 3rem;
    padding-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.navbar_categories {
    display: flex;
    flex-direction: row;
    gap: 3.3rem;
    list-style: none;

    &.hidden {
        display: none;
    }

    a {
        text-transform: lowercase;
        text-decoration: none; 
        color: $black;
        font-weight: 600;
        font-size: 1.1rem;
        position: relative;
    }

    a::after {
        content: "";
        position: absolute;
        background-color: $black;
        height: 3px;
        left: 0;
        width: 100%;
        bottom: -0.5rem;
        transform: scaleX(0);
        transition: transform 250ms ease-out;
    }

    a:hover::after {
        transform: scaleX(1);
        transition: transform 250ms ease;
    }
}

.open_menu {
    @include button;
    width: fit-content;
    background-color: transparent;
}

.menu_panel {
    @include flex-center(row, space-between, center);
    padding-inline: 1.5rem;
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(6rem + 18px);
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.35s ease;

    &.open {
        transform: translateY(0);
    }
}

.close_menu {
    @include button;
    width: fit-content;
    background-color: transparent;

    img {
        height: 20px;
        width: 20px;
    }
}

.logo {
    justify-self: center;
}

.change_img_buttons {
    @include flex-center();
    position: absolute;
    right: 0;
    bottom: 0;
}

.prev_btn, .next_btn {
    @include button;
    width: 4rem;
    height: 4rem;
    background-color: $black;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $grey800;
    }
}

.main_content {
    @include flex-center(column, center, flex-start);
    gap: 1rem;
    padding-block: 3.5rem;
    padding-inline: 2rem;
}

.main_title {
    font-weight: 700;
    font-size: 2.5rem;

    &.hidden {
        display: none;
    }
}

.main_description {
    font-weight: 500;
    color: $grey500;
    line-height: 1.4em;

    &.hidden {
        display: none;
    }
}

.shop_btn {
    @include button;
    @include flex-center();
    gap: 1.2rem;
    background-color: transparent;
    margin-block-start: 1.5rem;

    .text {
        transition: color 0.3s ease;
        transition: letter-spacing 0.3s ease;
    }

    path {
        transition: fill 0.3s ease;
    }

    &:hover {
        .text {
            letter-spacing: 0.75rem;
            color: $grey500;
        }
        path {fill: $grey500}
    }

    .text {
        font-family: "League Spartan", sans-serif;
        font-weight: 600;
        letter-spacing: 0.7rem;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}

.image_about_dark, .image_about_light {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    @include flex-center(column, center, flex-start);
    gap: 1rem;
    padding-block: 3.5rem;
    padding-inline: 2rem;
}

.about_title {
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.about_description {
    font-weight: 500;
    color: $grey500;
    line-height: 1.4em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.active {
        display: block;
        opacity: 50%;
        pointer-events: auto;
    }
}