@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "colors";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan", sans-serif;
}

.hero {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.hero_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    margin-block-start: 3rem;
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.navbar_categories {
    list-style: none;

    &.hidden {
        display: none;
    }
}

.open_menu {
    @include button;
    width: fit-content;
    background-color: transparent;
}

.logo {
    justify-self: center;
}

.change_img_buttons {
    @include flex-center();
    position: absolute;
    right: 0;
    bottom: 0;
}

.prev_img, .next_img {
    @include button;
    width: 4rem;
    height: 4rem;
    background-color: $black;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $grey800;
    }
}

.main_content {
    @include flex-center(column, center, flex-start);
    gap: 1rem;
    padding-block: 4rem;
    padding-inline: 2rem;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
}

.description {
    font-weight: 500;
    color: $grey500;
    line-height: 1.2em;
}

.shop_btn {
    @include button;
    @include flex-center();
    gap: 1.2rem;
    background-color: transparent;
    margin-block-start: 1.5rem;

    .text {
        transition: color 0.3s ease;
        transition: letter-spacing 0.3s ease;
    }

    path {
        transition: fill 0.3s ease;
    }

    &:hover {
        .text {
            letter-spacing: 0.75rem;
            color: $grey500;
        }
        path {fill: $grey500}
    }

    .text {
        font-family: "League Spartan", sans-serif;
        font-weight: 600;
        letter-spacing: 0.7rem;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
}