@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "colors";
@import "mixins"; // @include flex-center;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan", sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}